.header {
  background-color: #f47321;
  color: #636466;
  border-bottom: 4px solid #636466;
  padding: 0px 0px 10px 20px;
  margin-bottom: 30px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #636466;
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

